@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	font: 16px Arial;
}

div#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 3;
}

div#concordanceWrapper {
	display: none;
	color: #888;
	position: fixed;
	background-color: #fff;
	top: 200;
	left: 50%;
	width: 500px;
	transform: translate(-50%, 0%);
	border: 1px solid #ddd;
	z-index: 2;
}

div#concordanceContent {
	display: none;
	padding: 10px 5px;
	background-color: #fff;
	overflow-y: scroll;
	height: 100%;
}

div#concordanceClose {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	padding: 2px 10px;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	color: #ddd;
}

div#concordanceClose:hover {
	color: #c82c1c;
}

a {
	text-decoration: none;
	color: dodgerblue;
}

a:hover {
	color: #000;
}

h2 {
	color: #fff;
	font-weight: normal;
	margin-bottom: -5px;
}

h5 {
	color: #fff;
	font-weight: normal;
	display: inline;
	font-size: 14px;
}

h5#strong {
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	display: block;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 10px;
}

div.header {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 4;
}

div.headline {
	margin-top: -20px;
	padding-top: 10px;
	padding-left: 10px;
	background: #042647;
}

#selectBibleName {
	border: 1px solid transparent;
	background-color: #042647;
	color: white;
	margin-left: -5px;
	padding: 10px 0px;
	font-size: 14px;
	width: 130px;
}

div.form {
	padding: 10px;
	background: #355779;
}

div.autocomplete {
	position: relative;
	display: inline-block;
	width: 200px;
}

select {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
	width: 100px;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}

input[type=text] {
	background-color: #f1f1f1;
	background-color: #eee;
	width: 100%;
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
	width: 100px;
}

input[type=submit]:disabled {
	background-color: darkgray;
	color: #fff;
	cursor: pointer;
}

*:focus {
	outline: none;
}

div.submit {
	padding-top: 10px;
	padding-left: 309px;
}

div.search {
	display: inline-block;
}

@media screen and (max-width: 600px) {
	div.autocomplete {
		width: 155px;
		display: inline-block;
	}

	div.submit {
		padding-top: 10px;
		padding-left: 263px;
	}

	div#concordanceWrapper {
		width: 330px;
	}
}

div.select {
	display: inline-block;
}

div.navigation {
	display: inline-block;
}

span.navigation {
	background-color: dodgerblue;
	color: #fff;
	padding: 11.5px;
	cursor: pointer;
}

span.navigation.disable {
	background-color: darkgray;
	cursor: default;
}

div.passageFrom {
	padding-top: 0px;
}

div.passageTo {
	padding-top: 10px;
}

div.content {
	margin-top: 104px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: justify;
}

div.readContent {
	margin-top: 185px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: justify;
}

div.searchContent {
	margin-top: 185px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: justify;
}

div.countContent {
	margin-top: 285px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: justify;
}

table {
	border-collapse: collapse;
}

span.verse {
	color: #355779;
	font-weight: bold;
	text-align: right;
}

span.verseText {
	color: #333;
}

th.count {
	text-align: center;
	padding: 0 10px 0 0;
}

td.count {
	text-align: center;
	padding: 0 10px 0 0;
}

th.ignore {
	text-align: center;
	padding: 0 10px 0 0;
}

td.ignore {
	text-align: center;
	padding: 0 10px 0 0;
}

table.ignoreTable {
	color: #777;
}

span.wordsResultButton {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background: #355779;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	width: 80px;
	text-align: center;
}

span.wordsResultButton.disable {
	background-color: darkgray;
	cursor: default;
}