div#overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3
}

div.header {
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 4
}

div.headline {
    background: var(--ubuntu-brown);
    margin-top: -20px;
    padding-left: 10px;
    padding-top: 10px
}

div.translation {
    padding: 0px 0px 12px 0px
}

div.form {
    background: #f4f4f4;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px
}

div.autocomplete {
    display: inline-block;
    position: relative;
    width: 200px
}

div.autocomplete-items {
    border-bottom: none;
    border-top: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99
}

div.autocomplete-items div {
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-radius: 5px;
    border-right: 1px solid #d4d4d4;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    padding: 14px 10px
}

div.autocomplete-items div:hover {
    background-color: #e9e9e9
}

div.autocomplete-active {
    background-color: #f4f4f4 !important
}

div.submit {
    display: inline-block;
    padding-top: 5px
}

div.search {
    display: inline-block
}

div.select {
    display: inline-block
}

div.navigation {
    display: inline-block;
    font-family: Arial
}

div.passageFrom {
    padding-top: 0px
}

div.passageTo {
    padding-top: 5px
}

div.content {
    margin-top: 104px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify
}

div.readContent {
    margin-top: 204px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify
}

div.searchContent {
    margin-top: 204px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify
}

div.countContent {
    margin-top: 260px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify
}

div#concordanceWrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #888;
    display: none;
    left: 50%;
    position: fixed;
    top: 200;
    transform: translate(-50%, 0%);
    width: 500px;
    z-index: 2
}

div#concordanceContent {
    background-color: #fff;
    display: none;
    height: 100%;
    overflow-y: scroll;
    padding: 10px 5px
}

div#concordanceClose {
    color: #ddd;
    cursor: pointer;
    display: none;
    font-size: 24px;
    font-weight: bold;
    padding: 2px 10px;
    position: fixed;
    right: 0;
    top: 0
}

div#concordanceClose:hover {
    color: #c82c1c
}