@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('top-navigation.css');
@import url('div.css');

:root {
	--ubuntu-brown: #2e2018;
	--ubuntu-orange: #e95420
}

* {
	box-sizing: border-box
}

*:focus {
	outline: none
}

body {
	font: 16px 'Ubuntu';
	margin: 0
}

a {
	color: var(--ubuntu-orange);
	text-decoration: none
}

a:hover {
	color: #000
}

h2 {
	color: #fff;
	font-weight: normal;
	margin-bottom: 10px
}

h3 {
	color: #444;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 128px
}

h3.text {
	margin-top: 1em
}

h5 {
	color: var(--ubuntu-orange);
	display: inline;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 0px
}

select {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
	color: #444;
	font-family: 'Ubuntu';
	font-size: 14px;
	padding: 14px 10px;
	width: 105px
}

select#selectBibleName {
	background-color: var(--ubuntu-brown);
	border: 0px;
	box-shadow: none;
	color: var(--ubuntu-orange);
	font-size: 14px;
	margin-left: 0px;
	padding: 0px;
	width: 130px
}

input {
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
	color: #444;
	font-family: 'Ubuntu';
	font-size: 14px;
	padding: 14px 10px
}

input[type=text] {
	background-color: #fff;
	border-radius: 5px;
	width: 201px
}

input[type=submit] {
	background-color: var(--ubuntu-brown);
	color: #fff;
	cursor: pointer;
	width: 105px
}

input[type=submit]:disabled {
	background-color: darkgray;
	color: #fff;
	cursor: pointer
}

span.navigation {
	background-color: var(--ubuntu-brown);
	border-radius: 5px;
	border: 1px solid #ddd;
	color: #fff;
	cursor: pointer;
	padding: 14px
}

span.navigation.disable {
	background-color: darkgray;
	cursor: default
}

table {
	border-collapse: collapse
}

span.verse {
	color: var(--ubuntu-orange);
	font-weight: bold;
	text-align: right
}

span.verseText {
	color: #333
}

th.count {
	padding: 0 10px;
	text-align: center
}

td.count {
	padding: 2px 5px;
	text-align: center
}

th.ignore {
	padding: 0 10px;
	text-align: center
}

td.ignore {
	padding: 2px 5px;
	text-align: center
}

table.ignoreTable {
	color: #777
}

span.wordsResultButton {
	background: var(--ubuntu-brown);
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	width: 80px
}

span.wordsResultButton.disable {
	background-color: darkgray;
	cursor: default
}

@media screen and (max-width: 768px) {
	div#concordanceWrapper {
		width: 330px
	}

	div.autocomplete {
		display: inline-block;
		width: 145px
	}

	select {
		width: 60px
	}

	select.search {
		width: 90px
	}

	input[type=submit] {
		width: 63px
	}

	input[type=text] {
		width: 145px
	}

	div#concordanceWrapper {
		width: 330px
	}
}