<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Bibel Web Applikation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="topnav.css">
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<div id="overlay"></div>
	<div class="header">
		<div class="topnav" id="topnav">
			<a href="/home">Home</a>
			<a href="/read">Lesen</a>
			<a href="/search">Suchen</a>
			<a href="/count">Zählen</a>
			<a href="/strong">Urtext</a>
			<!-- <div class="dropdown">
			<button class="dropbtn">Dropdown
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div> -->
			<a href="/about" class="active">Über</a>
			<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="handleTopNav()">&#9776;</a>
		</div>
		<script type="text/javascript" charset="utf-8" src="topnav.js"></script>
		<div class="headline">
			<h2>Die Bibel</h2>
			<h5>Nach der Übersetzung von</h5>
			<form th:action="@{/about}" method="POST" style="display: inline;">
				<select id="selectBibleName" type="text" th:value="${bibleName}" name="bibleName" onchange="this.form.submit()"></select>
			</form>
			<script th:inline="javascript">
				/*<![CDATA[*/
				var bibles = /*[[${bibles}]]*/ "";
				var bibleName = /*[[${bible.name}]]*/ "";
				/*]]>*/
				var selectBible = document.getElementById("selectBibleName");
				for (var i = 0; i < bibles.length; i++) {
					selectBible.options.add(new Option(bibles[i]));
				}
				selectBible.value = bibleName;
			</script>
		</div>
	</div>
	<br>
	<div class="content">
		Diese Web Applikation wurde mit Hilfe von <a href="https://www.java.com/de/" target="new">Java</a>, <a
			href="https://spring.io/projects/spring-boot" target="new">Spring Boot</a> und <a
			href="https://www.thymeleaf.org/" target="new">Thymeleaf</a> realisiert.
		Das Frontend wurde entwickelt mit <a href="https://wiki.selfhtml.org/wiki/HTML"
			target="new">HTML</a>, <a href="https://www.w3.org/Style/CSS/" target="new">CSS</a> und <a
			href="https://wiki.selfhtml.org/wiki/JavaScript" target="new">JavaScript</a>.
		Der Bibeltext der Übersetzung von Luther 1912 mit Strong-Verzeichnis und Konkordanz und die Bibeltexte der Übersetzungen von Elberfelder 1905, Menge 1939 und Schlachter 1951 ist bezogen von <a href="https://www.toledot.info/die-welt-der-bibel.php?t=download/bibel" target="new">toledot</a>.
			Der Bibeltext der World English Bible und der American Standard Version ist bezogen von <a href="https://www.biblesupersearch.com/bible-downloads/" target="new">biblesupersearch</a>.
		Zuletzt geändert wurde diese Applikation im Mai 2024.
	</div>
</body>

</html>
