<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Bibel Web Applikation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<h2 style="color: var(--ubuntu-orange); font-weight: bold; margin-left: 20px">Hm, ein Fehler ist aufgetreten</h2>
	<h3 style="color: var(--ubuntu-brown); margin-left: 20px; margin-top:0px">
		Die Seite konnte nicht gefunden werden. Zur Startseite geht's <a href="/home">hier</a>.
	</h3>
</body>

</html>