<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Bibel Web Applikation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="overlay"></div>
	<div class="header">
		<div class="topnav" id="topnav">
			<a href="/home" class="active">Home</a>
			<a href="/read">Lesen</a>
			<a href="/search">Suchen</a>
			<a href="/count">Zählen</a>
			<a href="/strong">Urtext</a>
			<a href="/parallel">Parallel</a>
			<!-- <div class="dropdown">
			<button class="dropbtn">Dropdown
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div> -->
			<a href="/about">Über</a>
			<a href="javascript:void(0);" class="icon" onclick="handleTopNav()">&#9776;</a>
		</div>
		<script type="text/javascript" charset="utf-8" src="js/top-navigation.js"></script>
		<div class="headline">
			<h2>Die Bibel</h2>
			<div class="translation">
				<h5>Nach der Übersetzung von</h5>
				<form th:action="@{/home}" method="POST" style="display: inline;">
					<select id="selectBibleName" type="text" th:value="${bibleName}" name="bibleName"
						onchange="this.form.submit()"></select>
				</form>
			</div>
			<script th:inline="javascript">
				/*<![CDATA[*/
				var bibles = /*[[${bibles}]]*/ "";
				var bibleName = /*[[${bible.name}]]*/ "";
				/*]]>*/
				var selectBible = document.getElementById("selectBibleName");
				for (var i = 0; i < bibles.length; i++) {
					selectBible.options.add(new Option(bibles[i]));
				}
				selectBible.value = bibleName;
			</script>
		</div>
	</div>
	<br>
	<div class="content">
		<h3>Willkommen</h3>
		Jetzt noch eine Seite zur Bibel? Die Antwort: Ja! Diese Seite bietet die Möglichkeit, <b>Worte in der
			Bibel</b>
		einfach <b>zählen</b> zu lassen. Dabei legt der Benutzer den Bibelabschnitt interaktiv fest und erhält alle
		gezählten Worte in ihrer Häufigkeit absteigend sortiert. So lassen sich zum Beispiel die meisten Worte der
		gesamten Bibel einer Bibelübersetzung oder eines kurzen Textes zur Vorbereitung ermitteln.
		<h3 class="text">Lesen, Suchen und Strong</h3>
		Es gibt die Übersetzungen von Elberfelder 1905, Luther 1912, Menge 1939 und Schlachter 1951 sowie die
		World English Bible und die American Standard Version. In diesen kann man kapitelweise <b>lesen</b> und
		Begriffe <b>suchen</b>. Die Suche ist benutzerfreundlich und schnell. Zudem können auch die hebräischen
		und griechischen Wortwurzeln des Urtextes mit Hilfe des erstellten Verzeichnisses von <b>Strong</b> zur
		Übersetzung von
		Luther 1912 betrachtet werden.
	</div>
</body>

</html>