<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Bibel Web Applikation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/general.css">
</head>

<body onload="init()">
	<div id="overlay"></div>
	<div class="header">
		<div class="topnav" id="topnav">
			<a href="/home">Home</a>
			<a href="/read" class="active">Lesen</a>
			<a href="/search">Suchen</a>
			<a href="/count">Zählen</a>
			<a href="/strong">Urtext</a>
			<!--
				<div class="dropdown">
					<button class="dropbtn">Dropdown
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a href="#">Link 1</a>
						<a href="#">Link 2</a>
						<a href="#">Link 3</a>
					</div>
				</div>
				-->
			<a href="/about">Über</a>
			<a href="javascript:void(0);" class="icon" onclick="handleTopNav()">&#9776;</a>
		</div>

		<div class="headline">
			<h2>Die Bibel lesen</h2>
			<h5>Nach der Übersetzung von</h5>
			<form th:action="@{/read}" method="POST" style="display: inline;" id="bibleNameForm">
				<select id="selectBibleName" type="text" th:value="${bibleName}" name="bibleName"
					onchange="setBibleName()"></select>
			</form>
			<script th:inline="javascript">
				/*<![CDATA[*/
				var bibles = /*[[${bibles}]]*/ "";
				var bibleName = /*[[${bible.name}]]*/ "";
				/*]]>*/
				var selectBible = document.getElementById("selectBibleName");
				for (var i = 0; i < bibles.length; i++) {
					selectBible.options.add(new Option(bibles[i]));
				}
				selectBible.value = bibleName;
			</script>
		</div>
		<!--Make sure the form has the autocomplete function switched off:-->
		<div class="form">
			<form autocomplete="off" th:action="@{/read}" th:object="${passage}" method="POST" id="readForm">
				<div class="autocomplete">
					<input id="inputBook" type="text" placeholder="Buch" name="book" th:field="*{book}">
				</div>
				<div class="select">
					<select id="selectChapter" type="text" name="chapter" th:field="*{chapter}"
						onchange="doSubmit()"></select>
				</div>
				<div class="navigation">
					<span class="navigation disable" id="spanPrev" onclick="goToPrevChapter()">
						<< </span>
				</div>
				<div class="navigation">
					<span class="navigation disable" id="spanNext" onclick="goToNextChapter()">>></span>
				</div>
				<input type="hidden" th:value="${bibleName}" name="bibleName" id="inputBibleName">
			</form>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8" src="js/top-navigation.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/read.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var books = /*[[${books}]]*/ "";
		var chapters = /*[[${chapters}]]*/ "";
		var selectedChapterValue = /*[[${passage.chapter}]]*/ "";
		/*]]>*/
		autocomplete(document.getElementById("inputBook"), books);
	</script>
	<div class="readContent">
		<span th:if="${verses.size() == 0}"
			th:utext="'Zum Lesen eines Kapitels kann einfach das Buch eingegeben werden. Eine Liste mit passenden Büchern wird dann vorgeschlagen, aus der das Buch ausgewählt werden kann.'"></span>
		<table>
			<tr th:each="verse : ${verses}">
				<td>
					<span class="verse" th:id="${verse.number}" th:text="${verse.number}"></span>
					<span class="verseText" th:text="${verse.text}"></span>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>