<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Bibel Web Applikation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css">
</head>

<body onload="init()">
	<div id="overlay"></div>
	<div class="header">
		<div class="topnav" id="topnav">
			<a href="/home">Home</a>
			<a href="/read">Lesen</a>
			<a href="/search" class="active">Suchen</a>
			<a href="/count">Zählen</a>
			<a href="/strong">Urtext</a>
			<a href="/parallel">Parallel</a>
			<!-- <div class="dropdown">
			<button class="dropbtn">Dropdown
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div> -->
			<a href="/about">Über</a>
			<a href="javascript:void(0);" class="icon" onclick="handleTopNav()">&#9776;</a>
		</div>

		<div class="headline">
			<h2>Die Bibel durchsuchen</h2>
			<div class="translation">
				<h5>Nach der Übersetzung von</h5>
				<form th:action="@{/search}" method="POST" style="display: inline;" id="bibleNameForm">
					<select id="selectBibleName" type="text" th:value="${bibleName}" name="bibleName"
						onchange="doSubmit()"></select>
				</form>
			</div>
			<script th:inline="javascript">
				/*<![CDATA[*/
				var bibles = /*[[${bibles}]]*/ "";
				var bibleName = /*[[${bible.name}]]*/ "";
				/*]]>*/
				var selectBible = document.getElementById("selectBibleName");
				for (var i = 0; i < bibles.length; i++) {
					selectBible.options.add(new Option(bibles[i]));
				}
				selectBible.value = bibleName;
			</script>
		</div>
		<!--Make sure the form has the autocomplete function switched off:-->
		<div class="form">
			<form autocomplete="off" th:action="@{/search}" th:object="${search}" method="POST" id="searchForm">
				<div class="autocomplete">
					<input type="text" id="inputSearch" placeholder="Suche" name="search" th:field="*{search}">
				</div>
				<div class="select">
					<select class="search" id="selectSearch" type="text" name="section" th:field="*{section}"
						disabled="true">
					</select>
				</div>
				<div class="search">
					<input type="submit" id="submitSearch" value="Suche" disabled="true">
				</div>
				<input type="hidden" th:value="${bibleName}" name="bibleName" id="inputBibleName">
			</form>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8" src="js/top-navigation.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/search.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var books = /*[[${books}]]*/ "";
		var selectedSearchValue = /*[[${search.section}]]*/ ""
		/*]]>*/
	</script>
	<div class="searchContent">
		<span th:if="${search.search == null}" th:utext="'Die Suche ist benutzerfreundlich und schnell. Der Suchbegriff kann eingegeben und danach gesucht werden.
			Besteht der Suchbegriff aus mehreren Worten, werden alle Worte als ein gesamter Suchbegriff verwendet. Der Suchbegriff muss mindestens zwei Zeichen beinhalten.
			<br><br>
			Bei der Suche können auch einfache umschließende Anführungszeichen (z.B. \'Kinder\') für eine <b>case sensitive Suche</b> verwendet werden.
			Es können doppelte umschließende Anführungszeichen (z.B. &quot;Kinder&quot;) für eine <b>exakte Suche</b> verwendet werden.
			Beide Möglichkeiten lassen sich auch miteinander kombinieren (z.B. &quot;\'Kinder\'&quot;).
			<br><br>
			Wird ein &quot;f&quot; zu Beginn der Suche verwendet (z.B. &quot;f Alle Kinder&quot;), 
			wird nach allen Wörtern flutend gesucht und nur der Vers gefunden, in dem alle Wörter des Suchbegriffs in einer beliebigen Reihenfolge enthalten sind.
			Die <b>Flut-Suche</b> ist case sensitive und berücksichtigt nicht die exakte Suche.
			'">
		</span>
		<span th:if="${search.search != null && searchResult.isFloodSearch}"
			th:utext="'Die Flut-Suche nach <b>' + ${#strings.substring(search.search, 2, search.search.length)} + '</b>'"></span>
		<span th:if="${search.search != null && !searchResult.isFloodSearch}"
			th:utext="'Die Suche nach <b>' + ${search.search} + '</b>'"></span>
		<span th:if="${search.section != null && search.section == 'Alle'}" th:text="'in allen Büchern '"></span>
		<span th:if="${search.section != null && (search.section == 'AT' || search.section == 'NT')}"
			th:text="'im ' + ${search.section}"></span>
		<span
			th:if="${search.section != null && search.section != 'Alle' && search.section != 'AT' && search.section != 'NT'}"
			th:text="'in ' + ${search.section}"></span>
		<span th:if="${search.section != null}" th:text="'hat'"></span>
		<span th:if="${search.section != null && searchResult.findings.size() == 1}"
			th:text="'einen Vers getroffen und ingesamt ' + ${searchResult.hitCount} + ' Treffer.'"></span>
		<span th:if="${search.section != null && searchResult.findings.size() > 1}"
			th:text="${searchResult.findings.size()} + ' Verse getroffen und ingesamt ' + ${searchResult.hitCount} + ' Treffer.'"></span>
		<span th:if="${search.section != null && searchResult.findings.size() == 0}"
			th:text="' keinen Treffer.'"></span>
		<br><br>
		<table>
			<tr th:each="finding : ${searchResult.findings}">
				<td>
					<span th:if="${finding != null}"
						th:utext="'<a href=&quot;/readBy?book=' + ${finding.passage.book} + '&chapter=' + ${finding.passage.chapter} + '&verse=' + ${finding.passage.verse} + '&quot;>' + ${finding.passage.book} + ' ' + ${finding.passage.chapter} + ', ' + ${finding.passage.verse} + '</a>'"
						class="verse"></span>
					<span th:if="${finding != null}" th:utext="${finding.verseText}"></span>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>